/* CSS FÖR NAVBAR.JS */

.fa-bicycle {
    font-size: 2.5rem;
    margin-right: 5rem;
    margin-top: 1.1rem;
}

.navbar-brand {
    height: 5rem;
}

.nav-link {
    margin-right: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar {
    background-color: #FFE5D2;
}